.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    /* padding: 16px 80px 48px 80px; */
    /* max-width: 700px; */
}
body {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
    /* margin: 0; */
    /* width: 33%; */
    /* align-items: center; */
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: aqua;
}
.leftlowerheader {
    background-color: red;
    
}
.placeholder {
    background-color: purple;
}
.upperheader p {
    background-color: blue;

}
.upperheader, .lowerheader {
    display: flex;
    margin: 16px 64px;
    justify-content: space-between;
}
h2 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
.mainbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
.box {
    width: 75px;
    height: 75px;
}
.boxdi {
    width: 50px;
    height: 50px;
    border: 2px solid blue;
}